<header class="bg-zinc-900 flex flex-col md:flex-row p-10 gap-3 rounded-xl">
    <div class="">
        <h1 class="text-5xl font-bold">Coffe Torcelli</h1>
        <p class="my-2 text-2xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque consequuntur quas, tempora quo magni dolorum, corporis similique architecto enim animi vitae, nam ipsa odio rem saepe vero! Magni, possimus facere.
        </p>
       
        <button class="bg-orange-900 py-2 px-4 active:bg-orange-700 hover:bg-orange-800 rounded-lg">
            Menu
        </button>
    </div>

    <img src="images/caffe.jpg" alt="" class="w-80">
</header>