
<a href="/astro-landing-coffe/" class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-lg mt-5 w-fit">Regresar</a>

<section class="bg-zinc-900 text-zinc-100 py-0 px-0 rounded-xl my-4 flex flex-col">
    <div  class="relative bg-cover bg-center" style="background-image: url('images/caffe.jpg');">
    <div  class="relative bg-cover bg-center">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class="flex flex-col p-20 relative z-10">
            <h1 class="text-5xl font-bold my-5">Nuestra historia</h1>
            <p class="text-zinc-100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure itaque exercitationem cupiditate voluptatum officia veritatis impedit velit dolorem sapiente harum quis, assumenda quod esse, sint eius quaerat, quidem sit nesciunt?</p>
        </div>
    </div>
    <!-- boton para regresar -->
</section>
<article class="dark:bg-zinc-900 bg-orange-50 p-10 dark:hover:bg-orange-700">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto a laudantium dignissimos laborum officiis cumque autem molestiae explicabo ipsam! Soluta adipisci fuga ex eum placeat. At dolorum mollitia amet fugiat.</p>

</article>