<footer class="bg-zinc-900  py-10 gap-4">
  <div class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4">
    <div>
        <h4 class="font-bold text-xl">Ubicación</h4>
        <p>lorem ipsum </p>
    </div>
    <div>
        <h4 class="font-bold text-xl">Quienes somos</h4>
        <p>lorem, ipsum</p>
        <p>lorem, ipsum</p>
        <p>lorem, ipsum</p>
        <p>lorem, ipsum</p>
    </div>
    <div >
        <h4 class="font-bold text-xl">Socials</h4>
        <div class="flex flex-col">
            <a href="/" class="p-1"> <i class="fa-brands fa-facebook"></i> Facebook</a>
            <a href="/" class="p-1"> <i class="fa-brands fa-instagram"></i> Instagram</a>
            <a href="/" class="p-1"> <i class="fa-brands fa-tiktok"></i> Tiktok</a>
        </div>

    </div>
  </div>
</footer>